{
  "env": {
    "commonjs": {
      "presets": ["env"]
    },
    "es": {
      "presets": [["env", { "modules": false }]]
    },
    "demo": {
      "presets": [["env", { "modules": false }], "react"]
    }
  }
}